
    <!-- Start header -->
<header id="header" class="header-style-three">
		<div class="topbar">
			<div class="upper-topbar">
				<div class="container">
					<div class="row">
												<div class="col col-sm-8">
							<div class="contact-info">
								<ul>
									<li>
										<i class="fa fa-map-marker"></i> {{charityContact.Address}}</li>
									<li>
										<i class="fa fa-mobile"></i> {{charityContact.Mobile}}</li>
									<li>
										<i class="fa fa-envelope-o"></i> {{charityContact.Email}}</li>
								</ul>
							</div>
						</div>

						<div class="col col-sm-2">
							<div class="social">
								<ul>
									<li><a ng-href="http://{{charityContact.FacebookCount}}"><i class="fa fa-facebook"></i></a></li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- end upper-topbar -->

			

		</div>
		<!-- end top-bar -->

		<nav class="navigation navbar navbar-default" id="main-navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
				</div>
				<div class="col-xs-11">
					<div id="navbar" class="navbar-collapse collapse col-lg-8">
						<button class="close-navbar">
                                <i class="fa fa-close"></i>
                            </button>
						<ul class="nav navbar-nav">
							<li>
								<a href="#">الرئيسيه</a>

							</li>
							<li>
								<a href="#about">من نحن</a>

							</li>
							<li>
								<a href="#CSR">CSR</a>

							</li>
							<li>
								<a href="#cases">الحالات</a>

							</li>
							<li>
								<a href="#gallery">معرض الصور</a>

							</li>
							<li>
								<a href="#Events">الاحداث</a>

							</li>
							<li>
								<a href="#programs">برامجنا</a>

							</li>
							<li >
								<a href="#info">أخبار</a>
							</li>
                            <li>
								<a href="#BloodBank">بنك الدم</a>
							</li>
							<li>
								<a href="#contact">تواصل معنا</a>
							</li>
							<li class="current">
								<a href="#SeasonalProjects">مشاريع موسمية</a>
							</li><li >
								<a href="#Organizations">جمعيات</a>
							</li><li >
								<a href="#join-us">انضم لنا</a>
							</li>
						</ul>
					</div>
					<!-- end of nav-collapse -->


				</div>
								<div class="col-xs-1"><img class="img-header" src="images/preloder.png"></div>

			</div>
			<!-- end of container -->
		</nav>
	</header>

    <!-- start page-wrapper -->
    <div class="page-wrapper about-page">

        <!-- start page-title -->
        <section class="page-title"  style="height: 250px">
            <div class="page-title-bg"></div>
            <div class="container">
                <div class="title-box">
                    <h1>مشاريع موسمية</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">الرئيسيه</a>
                        </li>
                        <li class="active">مشاريع موسمية</li>
                    </ol>
                </div>
            </div>
            <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start about-details -->
        <section class="about-us-st section-padding"  style="padding: 30px"> 
			<div class="search">
				<label class="text-info"  for="pname" style="cursor: pointer">بحث</label>
				<input id="pname" ng-model="proname" type="text" style="border-radius: 5px" placeholder="اسم المشروع" ng-keyup = "filtering(proname)"> 
			</div>
			<div ng-repeat="x in SPro track by $index">
			<table class="table table-bordered" >
 		<thead>
			<h2 class="text-center text-info" style="margin: 2% ;"><b>{{x.Name}}</b></h2>	

				<tr >
					<th style="text-align: center">اسم الجمعية</th>
					<th style="text-align: center">الهدف</th>
					<th style="text-align: center">السعر</th>
					<th style="text-align: center">المنطقة</th>
				</tr>
			</thead>
				<tbody>
					<tr ng-repeat="act in x.activities" style="text-align: center">
					<td>{{act.OrgName}}</td>
					<td>{{act.Target}}</td>
					<td>{{act.Price}}</td>
					<td>{{act.Region}}</td>
				</tr>
				</tbody>
			</table> 
		</div>
				</section>
			
			
        <!-- end about-details -->

    </div>
    <!-- end of page-wrapper -->

    <!-- Custom script for this template -->
    <script src="js/script.js"></script>